/* Background image */

.jumbotron {
    background-image: url("../images/normandy2.jpg");
    color: rgb(100, 4, 4);
    font-display: ;
    ;
    ;
}

.container {
    background-color: olive;
    color: rgb(100, 4, 4);
}

#ts {
    background-color: olive;
}

#ys {
    background-color: olive;
}